---
import "../../styles/global.css";

import { readFileSync } from "node:fs";
import type { WithDistance } from "../../interfaces/ebi-eki";
import { Thumbnails } from "../../components/Thumbnails";
import { User } from "../../components/User";

const ebieki: WithDistance[] = JSON.parse(
  readFileSync("data/table.json", "utf8")
);
const kanjis = ebieki.map((x) => x.card.kanji);
const kanas = ebieki.map((x) => x.card.kanas[0]);
---

<meta charset="utf-8" />
<title>Vocabulary</title>
<style is:global></style>

<h1>Welcome to Ebieki</h1>

<User client:idle />

<Thumbnails kanas={kanas} kanjis={kanjis} client:idle />
