---
import "../../styles/global.css";

import { Thumbnails } from "../../components/Thumbnails";
import { User } from "../../components/User";
import { getVocab } from "../../dictionary/getVocab";

const ebieki = await getVocab();

const kanjis = ebieki.map((x) => x.card.kanji);
const kanas = ebieki.map((x) => x.card.kanas[0]);
---

<meta charset="utf-8" />
<title>Vocabulary</title>

<h1>Welcome to Ebieki</h1>

<User client:idle />

<Thumbnails kanas={kanas} kanjis={kanjis} client:idle />
